# Ignore everything in data/, except keep the folder itself
/data/*
!/data/.gitkeep

# Ignore everything in .hydra 
/.hydra/*

/all_images/*
# Keep the demo images
!all_images/demo_images/
/plots/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*.log